@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Roboto:wght@500&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: 'Roboto', sans-serif;
  }

/* CUSTOM SHADOW HOVERS */
.hover-shadow {
    transition: all .2s ease-in-out;
}
.hover-shadow:hover {
    box-shadow: 2px 2px 3px grey;
    background-color: #edebe8;
}

/* CUSTOM GROWTH HOVERS */
.hover-grow {
    transition: all .2s ease-in-out;
}
.hover-grow:hover {
    transform: scale(1.1);
}


/* CUSTOM TEXT COLOR HOVER */
.hover-text-warning {
    transition: all .4s ease-in-out;
    text-decoration: none;
    color: #fff5e8!important
}
.hover-text-warning:hover {
    color: #f0ad4e!important;
}


